<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_booster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{203,342}</string>
                <key>spriteSourceSize</key>
                <string>{211,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{203,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_frame_moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,287}</string>
                <key>spriteSourceSize</key>
                <string>{294,287}</string>
                <key>textureRect</key>
                <string>{{1,206},{294,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_frame_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,258}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,495},{272,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,755},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{275,559},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{275,661},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_purpure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{229,763},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{229,865},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{331,865},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_booster_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{95,111}</string>
                <key>spriteSourceSize</key>
                <string>{95,117}</string>
                <key>textureRect</key>
                <string>{{345,120},{95,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_booster_teleport.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,117}</string>
                <key>spriteSourceSize</key>
                <string>{95,117}</string>
                <key>textureRect</key>
                <string>{{345,1},{95,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_booster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{122,113}</string>
                <key>textureRect</key>
                <string>{{297,444},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_frame_moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,209}</string>
                <key>spriteSourceSize</key>
                <string>{128,209}</string>
                <key>textureRect</key>
                <string>{{297,233},{128,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.webp</string>
            <key>size</key>
            <string>{441,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efc467738e82306f0fae03a2ff539039:dbed381fd3070c21078bdc46f8c5f5aa:74344c132e3780603d3636f1457c216e$</string>
            <key>textureFileName</key>
            <string>sprites.webp</string>
        </dict>
    </dict>
</plist>
